body
{
font-family:site_font;     
}

.slider_image
{
    width:900px;
    height:350px;
    margin: 0 auto;
    border:lightskyblue solid 2px; 
}

@font-face
{
    font-family:site_font ; 
    src:url(../fonts/BalooThambi-Regular.ttf);    
}

.slider_text
{
    height: 100px;
    width: 100%;
}
